body {
    margin: 0;
}

.d-none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(211, 230, 246);
}

.container {
    width: 460px;
    height: 456px;
    background-image: url('img/bg.png'); 
    background-size: cover;
    display: flex;
    margin: 0;
}

.content {
    align-items: center;
    width: 100%;
    margin-top: 128px;
    height: 71%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'PT Sans', sans-serif; 
}

.menu-bar {
    width: 130px;
    height: 435px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.menu-bar img {
    width: 70px;
    margin-bottom: 60px;
    margin-left: 30px;
}

.nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.nav div {
    margin-bottom: 20px;
}

.navItem {
    display: flex;
    align-items: center;
    width: 111px;
}

.progess {
    width: 5px;
    height: 28px;
    background-color: white;
    margin-right: 11px;
}

.end-btn {
    z-index: 1;
}

button {
    width: 170px;
    border: none; 
    background-color: rgb(252, 69, 19);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgba(252, 69, 19, 0.8);
}

.quiz-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Rubik Medium', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.answer-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    background-color: white;
    text-align: center;
    padding: 7px;
    cursor: pointer;
} 

.answer-section:hover {
    background-color: rgb(191, 219, 252);
}

.answer {
    font-size: 20px;
    font-family: 'Rubik Regular', sans-serif;
    margin-left: 40px;
}

.letter {
    font-size: 20px;
    font-family: 'Rubik Regular', sans-serif;
    font-weight: bold;
    background-color: lightgray;
    padding: 5px 14px;
}

.pre-back {
    width: 359px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.slider {
    background-color: rgba(191, 219, 252);
    opacity: 0.2;
    border-radius: 100%;
    padding: 5px 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    line-height: 35px;
}

.end-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 48px;
    position: relative;;
}

.circle {
    background-color: rgba(252, 69, 19, 0.2);
    border-radius: 100%;
    position: absolute;
    width: 440px;
    height: 440px;
    top: 8px;
}

.end-page img {
    width: 150px;
}

.complete-quiz {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    z-index: 1;
    font-size: 25px;
}

.score {
    font-family: 'Rubik', sans-serif;
    display: flex;
    width: 80%;
    justify-content: space-around;
    z-index: 1;
}

.youre-score {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: blue;
}

.green, .green:hover {
    background-color: rgb(3, 235, 3);
}

.red, .red:hover {
    background-color: red;
}

.pointerEvents {
    pointer-events: none;
}

@media (max-width: 768px) {
    .menu-bar {
        height: 100vh;
        width: 25vw;
        justify-content: space-evenly;
        padding-bottom: 259px;
    }
    .container {
        height: 100vh;
        width: 75vw;
    }
    .startText {
        font-size: 45px;
    }
    button {
        height: 73px;
        width: 285px;
        font-size: 20px;
        margin-top: 20px;
    }
    .menu-bar img {
        width: 97px;
    }
    .navItem {
        font-size: 25px;
    }
    .progess {
        width: 10px;
        height: 47px;
    }
    .header {
        font-size: 30px;
    }
    .answer {
        font-size: 30px;
    }
    .letter {
        font-size: 30px;
    }
    .nav div {
        padding-left: 11px;
    }
    .circle {
        width: 554px;
        height: 554px;
        top: 275px;
    }
    .end-page img {
        width: 400px;
    }
    .complete-quiz {
        font-size: 30px;
    }
    .score {
        font-size: 30px;
    }
    .answer-section {
    width: 89%;
    }
    .slider {
        font-size: 45px;
        padding: 5px 23px;
    }
    .end-page {
        justify-content: space-evenly;
    }
}

@media (max-width: 390px) {
    .menu-bar {
        display: none;
    }
    .container {
        width: 100vw;
    }
    .startText {
        font-size: 34px;
    }
    button {
        height: 67px;
        width: 242px;
        font-size: 29px;
    }
    .header {
        font-size: 25px;
    }
    .answer-section {
        width: 336px;
        height: 54px;
        padding: 0;
    }
    .answer {
        font-size: 22px;
        margin-left: 14px;
    }
    .circle {
        width: 376px;
        height: 376px;
        top: 204px;
    }
    .end-page {
        height: 90%;
    }
    .end-page img {
        width: 333px;
    }
    .complete-quiz {
        font-size: 26px;
    }
    .score {
        font-size: 26px;
    }
}
@media (max-width: 414px) {
    .menu-bar {
        display: none;
    }
    .container {
        width: 100vw;
        background-position: bottom;
    }
    .answer {
        margin-left: 37px;
        font-size: 25px;
    }
    .header {
        font-size: 27px;
    }
    .circle {
        width: 388px;
        height: 388px;
        top: 194px;
    }
    .end-page img {
        width: 318px;
    }
    button {
        height: 56px;
        width: 227px;
        font-size: 20px;
        line-height: 40px;
    }
}
@media (max-width: 375px) and (max-height:667px) {
    .circle {
        width: 356px;
        height: 356px;
        top: 117px;
    }
}
@media  (max-width: 375px) and (max-height: 812px) {
    .circle {
        width: 362px;
        height: 362px;
    }
}